<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Au Bon Pain | Boulangerie</title>
    <link rel="icon" href="assets/img/logo_white.png">
    <link rel="stylesheet" href="assets/css/style.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="assets/js/carousel.js" async></script>
</head>
<body>
    <header>
        <div class="logo__container">
            <div class="logo__name"></div>
                <a href="#">
                    <img class="logo__img" src="assets/img/logo_white.png" alt="logo">
                </a>
            </div>
        </div>

        <div class="menu__icon">
            <span class="menu__icon--one"></span>
            <span class="menu__icon--two"></span>
            <span class="menu__icon--three"></span>
        </div>

        <div class="nav__list">
            <ul>
                <li class="nav__list--items">
                    <img class="logo__img" src="assets/img/logo_white.png" alt="logo">
                </li>
                <li class="nav__list--items">
                    <a href="#" class="nav__list--links">Accueil</a>
                </li>
                <li class="nav__list--items">
                    <a href="#about" class="nav__list--links">Qui sommes nous?</a>
                </li>
                <li class="nav__list--items">
                    <a href="#product" class="nav__list--links">Nos Pains</a>
                </li>
                <li class="nav__list--items">
                    <a href="#value" class="nav__list--links">Nos Valeurs</a>
                </li>
                <li class="nav__list--items">
                    <a href="" class="nav__list--links">Contact</a>
                </li>
            </ul>
        </div>
    </header>

<div id="app">

    <section class="hero">
        <div class="hero__logo">
            <img src="assets/img/logo_white.png" alt="logo">
        </div>
    </section>
        
    <section class="about" id="about">
        <h2 class="part__title title__white">Qui somme nous ?</h2>

        <div class="about__left size__50">
            <div class="about__left--img">
                <img src="assets/img/logo_white.png" alt="logo">
            </div>
        </div>

        <div class="about__right size__50">
            <div class="about__right--text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Id molestias quidem similique deleniti nobis totam ratione fugiat,
                    ea aliquam, natus tenetur nam ex unde. Velit ipsa inventore distinctio praesentium iste.
                </p>
            </div>
        </div>
        
    </section>
        
    <section class="product" id="product">
        <h2 class="part__title title__white">Hummm... du bon pain</h2>

        <div class="presentation__text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nemo ratione dolore veniam earum
                consectetur.
            </p>
        </div>

        <div id="carousel">
            <div class="product__container" v-for="item in products">
                <div class="product__case" :style="{ backgroundImage: 'url(' + item.image.source + ')', }">
                    <h3 class="product__name">{{item.name}}</h3>
                </div>
            </div>
        </div>

    </section>
               
    <section class="value" id="value">
        <h2 class="part__title">Nos Valeurs</h2>

        <div class="presentation__text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nemo ratione dolore veniam earum
                consectetur.
            </p>
        </div>

        <div class="values">
            <div class="values__container" v-for="item in values">
                <div class="values__case" :style="{ backgroundImage: 'url(' + item.image.source + ')', }">
                    <h3 class="values__name">{{item.value}}</h3>
                    <div class="values__label">
                        <p>
                            {{item.label}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="contact" id="contact">
        <h2 class="part__title title__white">Et si nous restions en contact?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam.
        </p>
        <div class="contact__form">
            <form>
                <input type="text" name="" placeholder="Full Name">
                <input type="email" name="" placeholder="Email">
                <textarea placeholder="Your Message"></textarea>
                <button type="submit" class="form_btn" value="Send">Send</button>
            </form>
        </div>
        <div class="contact__link">
            <h4>Nous contacter</h4>
            <div class="contact__container">
                <div class="contact__case">
                    <h3>
                        <i class="fa fa-map-marker"></i>
                        Adresse
                    </h3>
                    <p>
                        13 rue de la baguette
                        75016 Paris
                    </p>
                </div>
                <div class="contact__case">
                    
                    <h3>
                        <i class="fa fa-phone"></i>
                        Téléphone
                    </h3>
                    <p>
                       01.08.10.20.17
                    </p>
                </div>
                <div class="contact__case">
                    <h3><i class="fa fa-envelope-o"></i>
                        Email
                    </h3>
                    <p>
                        contact@aubonpain.fr
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="copyright">
        <p>Copyright 2020 Julien Quentier, All Right Reserved</p>
    </div>

</div> <!-- fin #app-->
    
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
        const app = new Vue({
                el: '#app',
                data: {
                    products: [
                        {
                            name: 'Pain de campagne aux céréales anciennes',
                            label:'Préparé avec de la farine de blé et de la farine de seigle, mais aussi des graines de tournesol, de lin et de sésame, voici un pain riche en céréales ! Tout simplement gourmand.',
                            image: {
                                source:"assets/img/bread_old.jpg",
                                alt:"pain"
                            }
                        },{
                            name: 'Pain de campagne',
                            label: 'Préparé avec des farines de blé et de sarrasin, ce pain généreux et authentique conviendra à toute la famille pour accompagner vos repas du quotidien.',
                            image: {
                                source: "assets/img/bread_campagne.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain de campagne multi-céréales',
                            label: 'Notre pain multi-céréales est composé de cinq délicieuses céréales : des graines de sésame, de pavot, de lin, de millet et de tournesol. Laissez-vous tenter !',
                            image: {
                                source: "assets/img/bread_multi_cereales.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain Nordique',
                            label: 'En club sandwich ou en tartine, ses graines de lin, de tournesol, de sésame, et de courge apporteront de la texture et du croquant à vos recettes !',
                            image: {
                                source: "assets/img/bread_nordique.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain Sportif',
                            label: 'Un pain gourmand et aux grandes qualités nutritives : des noisettes entières, des amandes entières, des raisins secs, des écorces d’orange…',
                            image: {
                                source: "assets/img/bread_sportif.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain au Mais',
                            label: 'Ce pain associe de la farine d’orge et de blé à des graines de tournesol et du maïs soufflé. Sa couleur jaune est parfaite si vous souhaitez égayer votre table.',
                            image: {
                                source: "assets/img/bread_mais.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain Complet',
                            label: 'Elaboré avec de la farine de blé et de son, ce pain savoureux et diététique est reconnu pour ses valeurs nutritives.',
                            image: {
                                source: "assets/img/bread_complet.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain aux Noix',
                            label: 'S’il y a un pain à choisir pour accompagner votre plateau de fromages, c’est bien le pain aux noix ! Doux, aux saveurs automnales réconfortantes.',
                            image: {
                                source: "assets/img/bread_noix.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain aux Olives',
                            label: 'Aux olives noires et aux herbes de Provence, ce pain saura parfaitement accompagner une belle salade d’été, les fromages frais ou vos apéritifs ! On entend déjà les cigales.',
                            image: {
                                source: "assets/img/bread_olive.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain aux figues',
                            label: 'Son mélange de farine de blé, farine de seigle et ses figues sèches se marient à merveille avec le foie gras.',
                            image: {
                                source: "assets/img/bread_figue.jpg",
                                alt: "pain"
                            }
                        },
                        {
                            name: 'Pain Burger',
                            label: 'Un bon burger c’est d’abord un bon pain ! Lui aussi est réalisé chaque jour par nos boulangers.',
                            image: {
                                source: "assets/img/bread_burger.jpg",
                                alt: "pain"
                            }
                        },
                    ],
                values:[
                   {
                       value: "Farine Bio",
                       label: "Nous utlisons de la farine issu de l'agriculture Bio ",
                       image:{
                           source: "assets/img/wheat.jpg",
                           alt: "Farine",
                       }
                   },
                   {
                       value: "Tradition",
                       label: "Tous nos pains sont fabriqué de façon tradition, dans le respect du savoir faire",
                       image:{
                           source: "assets/img/tradition.jpg",
                           alt: "mains qui travailent"
                       }
                   },
                   {
                       value:"Savoir faire",
                       label: "Nous pratiquons notre métier depuis des plus de 20 ans",
                       image:{
                           source: "assets/img/roger.jpg",
                           alt: "boulanger"
                       }
                   }
                ]
                },
            })
</script>
<script src="assets/js/app.js" async></script>
</body>
</html>