@import url("https://fonts.googleapis.com/css?family=Oxygen|Roboto|Shadows+Into+Light&display=swap");

:root {
  --light-black: rgba(0, 0, 0, 0.7);
  --light-white: rgba(255, 255, 255, 0.7);
  --roboto: "Roboto", sans-serif;
  --oxygen: "Oxygen", sans-serif;
  --shadow: "Shadows Into Light", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 999;
}
header.sticky {
  background: #000;
  /* padding: 20px 100px; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 1);
}
.logo__container {
  align-items: center;
  display: flex;
  padding-left: 0.5rem;
}
.logo__container a {
  color: var(--light-black);
  font-family: var(--roboto);
  font-size: 20px;
}

.logo__container .logo__img {
  height: 60px;
  width: 60px;
}

.menu__icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 1000;
}

.menu__icon .menu__icon--one {
  content: "";
  display: block;
  background-color: var(--light-white);
  height: 3px;
  width: 25px;
  position: relative;
  top: 0;
  transition: all 0.2s ease-out;
}

.menu__icon .menu__icon--one .sticky {
  background-color: var(--light-black);
}

.menu__icon .menu__icon--two {
  content: "";
  display: block;
  background-color: var(--light-white);
  height: 3px;
  width: 15px;
  position: relative;
  top: 5px;
  transition: all 0.2s ease-out;
}

.menu__icon .menu__icon--three {
  content: "";
  display: block;
  background-color: var(--light-white);
  height: 3px;
  width: 25px;
  position: relative;
  top: 10px;
  transition: all 0.2s ease-out;
}

.menu__icon .menu__icon--one.active {
  transform: rotate(45deg);
  top: 3px;
  background-color: var(--light-white);
}

.menu__icon .menu__icon--two.active {
  display: none;
}
.menu__icon .menu__icon--three.active {
  transform: rotate(-45deg);
  top: 0;
  background-color: var(--light-white);
}
.nav__list {
  position: absolute;
  display: none;
  background: #000;
  height: 100vh;
  width: 100%;
  z-index: 999;
  top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.nav__list.active {
  display: inline-flex;
}

.nav__list .logo__img {
  height: 150px;
  width: 150px;
}
.nav__list ul .nav__list--items {
  padding: 1rem;
}

.nav__list .nav__list--links {
  color: var(--light-white);
  font-size: 2rem;
}

.hero {
  height: 100vh;
  background: url("../img/bakery-1868925_1920.jpg");
  background-size: cover;
  background-position: center;
}

.hero .hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .hero__logo.active {
  display: none;
}
.hero .hero__logo img {
  height: 400px;
  width: 400px;
}

.about {
  width: 100%;
  background-color: #000;
  height: auto;
  padding-bottom: 2rem;
}
.part__title {
  text-align: center;
  padding-top: 3rem;
  font-family: var(--roboto);
  font-weight: 200;
  color: var(--light-white);
}

.part__title .title__white {
  color: var(--light-white);
}

.size__50 {
  width: 100%;
}

.about__left--img img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  display: flex;
}

.about__right {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.about__right--text {
  font-size: 16px;
  color: var(--light-white);
  font-family: var(--roboto);
}

.product {
  text-align: center;
  background-color: #000;
}
.product .part__title {
  margin-bottom: 3rem;
}
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}*/

.product__case {
  min-height: 11rem;

  /* padding: 50% 35px 35px 45px; */
  padding: 50% 35px 35px 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  box-shadow: inset 10px -2px 16px -11px #1a171b;
  border-radius: 2%;
}
.product__case .product__name {
  color: #fff;
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem !important;
  border-bottom: 1px solid #f5f5f5;
}

.product__case .product__label {
  color: #fff;
  font-size: 30px;
}

.carousel {
  position: relative;
  /* overflow: hidden; */
}
.carousel__item {
  float: left;
}
.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}
.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__next,
.carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff url("../icon/chevron-right-solid.svg") center center
    no-repeat;
  color: #000;
  border-radius: 50%;
  background-size: 20px 20px;
  top: 50%;
  right: 0;
  /* margin-top: -20%; */
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
.carousel__next:hover,
.carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev {
  right: auto;
  left: 0;
  background: #fff url("../icon/chevron-left-solid.svg") center center no-repeat;
  background-size: 20px 20px;
}

.carousel__next--hidden,
.carousel__prev--hidden {
  opacity: 0;
}
